<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>orgName</key>
	<string>Genentech</string>
	<key>networkRemoveList</key>
	<array>
		<string>guestwlan</string>
		<string>GenenAir3</string>
		<string>GenenAir2</string>
	</array>
	<key>networkAddList</key>
	<array>
		<dict>
			<key>ssid</key>
			<string>GenenAir2</string>
			<key>iath</key>
			<string>MSCHAPv2</string>
			<key>type</key>
			<string>WPA2 Enterprise</string>
			<key>sect</key>
			<string>WPA2 Enterprise</string>
			<key>tkey</key>
			<string>WPA2E</string>
			<key>puid</key>
			<string>f8768ac0-e631-012e-4a33-482a1435a5b8</string>
			<key>suid</key>
			<string>537d12c0-e632-012e-4a35-482a1435a5b8</string>
			<key>mdmh</key>
			<string>com.apple.mdm.krazyeuro.dhcp.gene.com</string>
			<key>eapt</key>
			<integer>25</integer>
			<key>chan</key>
			<integer>11</integer>
			<key>scop</key>
			<string>System</string>
			<key>orgn</key>
			<string>Genentech</string>
			<key>guid</key>
			<string>7D037974-14F1-43A3-836A-874717407EAE</string>
			<key>keyc</key>
			<string>B789AFFF-DABA-45F2-8E83-D4C5C4D0D655</string>
		</dict>
	</array>
</dict>
</plist>
